<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 12px;
  }
</style>

<div class="message-content">
  <p>Oila, {{name}}</p>
  <p>Parece que foi solicitado uma troca de senha.</p>
  <p>Se esta troca de senha foi solicitada por você, acesse o link abaixo</p>
  <p>
    <a href="{{link}}"> Trocar Minha Senha</a>
  </p>
  <p>Caso não tenha sido, desconsidere este email.</p>
  <p>Buenas Tardes/dia</p>
  <strong>Equipe GoBarber!</strong>
</div>
